.cx-imagens {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
  
}
.btn-img {
  width: 139px;
  height: 39px;
  border: 2px solid grey;
  background: #fff;
  cursor: pointer;
}

.btn-img:hover{
  background: gray;
  transition: 0.6s;
}
.cx-img-interna{
  margin: 20px;
}

.h2-img{
  margin-top: 95px;
  font-weight: bold;
}

.cor-img{
  color: #55555A;
}

.bg-img{
  background: #FFFFFF;
}